@page
@model RestaurantReviewer.Pages.Dylan.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurants</h1>

<p>
    <a asp-page="Create">Add New</a>
</p>
<form>
    <p>
        Genre of Restaurant: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr style="background-color:orange;box-shadow:2px 2px yellow;">
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].RestaurantPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Name)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.RatingSort">
                    @Html.DisplayNameFor(model => model.Restaurants[0].Rating)
                </a>
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Restaurants[0].Type)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>
                    @{
                        var img = @item.Name + ".jpg";
                        <img src="~/images/@img" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td style="border-bottom:darkorange 10px groove;">
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    img {
        width: 250px;
    }
</style>