@page
@model RestaurantReviewer.Pages.Soren.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restaurants</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurants.RestaurantPicture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurants.RestaurantPicture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurants.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurants.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurants.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurants.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurants.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurants.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurants.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurants.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurants.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurants.Cost)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Restaurants.ID" />
        <input type="submit" value="Delete" class="btn" style="background-color: orange; color: white; padding: 5px 10px; border: none; border-radius: 5px;" /> |
        <a asp-page="./Index" style="background-color: white; color: orange; padding: 5px 10px; border: 2px solid orange; border-radius: 5px; text-decoration: none;">Back to List</a>
    </form>
</div>