@page
@model RestaurantReviewer.Pages.Sakura.DeleteModel
@{
    ViewData["Title"] = "Delete Confirmation";
}

<h1 class="my-5">@ViewData["Title"]</h1>
<h4>Are you sure you want to delete <span class="bg-danger text-white py-1 px-2 rounded">@Html.DisplayFor(model => model.Restaurants.Name)</span> ?</h4>
<hr />
<dl class="row my-5">
    <dt class="col-lg-2">
        @Html.DisplayNameFor(model => model.Restaurants.Rating)
    </dt>
    <dd class="col-lg-10 mb-3">
        @Html.DisplayFor(model => model.Restaurants.Rating)
    </dd>
    <dt class="col-lg-2">
        @Html.DisplayNameFor(model => model.Restaurants.Type)
    </dt>
    <dd class="col-lg-10 mb-3">
        @Html.DisplayFor(model => model.Restaurants.Type)
    </dd>
    <dt class="col-lg-2">
        @Html.DisplayNameFor(model => model.Restaurants.Description)
    </dt>
    <dd class="col-lg-10 mb-3">
        @Html.DisplayFor(model => model.Restaurants.Description)
    </dd>
    <dt class="col-lg-2">
        @Html.DisplayNameFor(model => model.Restaurants.Cost)
    </dt>
    <dd class="col-lg-10 mb-3">
        @Html.DisplayFor(model => model.Restaurants.Cost)
    </dd>
    <dt class="col-lg-2">
        @Html.DisplayNameFor(model => model.Restaurants.Reviews)
    </dt>
    <dd class="col-lg-10 mb-3">
        <p>@{
            string reviews = @ViewData["Reviews"].ToString();
            string review = "";
            for (int i = 0; i < reviews.Length; i++)
            {
                if (i < reviews.Length - 13)
                {
                    if (reviews[i + 13] == ':' && reviews[i + 14] == ' ' && i != 0)
                    {
                            <span class="text-start">@review</span><br />
                        review = "";
                    }
                }
                review += reviews[i];
            }
            <span class="text-start">@review</span>
        }</p>
    </dd>
</dl>
<form method="post">
    <input type="hidden" asp-for="Restaurants.ID" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-page="./Index" class="float-end">Back to List</a>
</form>
<style>
    body {
        font-family: fantasy;
        background-color: #F2F0EB;
    }
    main {
        font-size: 1.25rem;
    }
    a {
        color: black;
    }
    a:hover {
        color: red;
    }
    .row {
        font-family: Georgia;
    }
</style>
