@page
@model RestaurantReviewer.Pages.Sakura.IndexModel
@{
    ViewData["Title"] = "Restaurant Reviewer";
}

<div class="row">
    <form class="mt-5" style="">
        <p class="mt-5">
            <input type="text" asp-for="SearchString" placeholder=" Search Restaurant Name..." class="col-5" />

            <label asp-for="RestaurantType" class="ms-3">Filter by Category: </label>
            <select asp-for="RestaurantType" asp-items="Model.Types" class="px-2">
                <option value="">All</option>
            </select>

            <a asp-page="./Index" asp-route-sortOrder="desc" class="ms-3">Sort by Rating</a>

            <span style="float: right;">
                <a href="#" class="btn btn-dark me-1">Log in</a>
                <a href="#" class="btn btn-dark">Sign up</a>
            </span>
        </p>
        <p class="text-center mb-5">
            <input type="submit" value="Search" class="me-5" />
            <a asp-page="./Index" class="btn btn-secondary">Clear</a>
        </p>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].RestaurantPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Restaurants) {
            <tr>
                <td>
                    @{
                        if (item.ID <= 5)
                        {
                            var img = @item.Name + ".jpg";
                            <img src="~/images/@img" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="Create" style="float: right; font-size: 1rem;">Add a New Restaurant</a>
<ul class="pagination justify-content-center" style="clear: both;">
    <li class="page-item"><a href="#" class="page-link">Prev</a></li>
    <li class="page-item active"><a href="#" class="page-link">1</a></li>
    <li class="page-item"><a href="#" class="page-link">Next</a></li>
</ul>
<style>
    body {
        font-family: fantasy;
        background-color: #F2F0EB;
    }
    main {
        font-size: 1.25rem;
    }
    a {
        color: black;
    }
    a:hover {
        color: red;
    }
    img {
        width: 250px;
    }
    td {
        font-family: Georgia;
        font-size: 1.15rem;
    }
    .pagination > li > a {
        background-color: #F2F0EB;
        color: grey;
        border-color: grey;
    }
    .pagination > li > a:hover, .pagination > li > a:active, .pagination > li > a:focus {
        background-color: grey;
        color: white;
        border-color: grey;
    }
    .pagination > .active > .page-link {
        background-color: black;
        border-color: grey;
    }
</style>
